body{
    
    background-color: rgb(227, 227, 234);
 }
 .top-padding{
    padding: 20px 20px 20px;
 }
 .main{
     display: grid;
     grid-template-columns: 30% 35% 35%;
     grid-gap: 1px;
     align-content: center;
     padding-top: 10px;
     margin-top: 10px;
     margin-left: 10px;
 }
 .main div{
     background-color: rgb(243, 237, 147);
     border: 1px solid rgb(159, 156, 156);
     padding: 10px;
     border-radius: 20px;
 }
 .pic{
     text-align: left;
     grid-row: 1/5;
     grid-column: 1/2;
     font-size: 16px;
 }
 .name{
     text-align: left;
     grid-column: 2/4;
     font-size: 16px;
 }
 .exp{
     text-align: left;
     grid-column: 2/3;
     grid-row: 2/3;
     font-size: 16px;
 }
 .rating{
     text-align: left;
     grid-column: 3/4;
     grid-row: 2/5;
     font-size: 16px;
 }
 .lwork{
     text-align: left;
     grid-column: 2/3;
     grid-row: 3/4;
     font-size: 16px;
 }
 .avl{
     text-align: left;
     grid-column: 2/3;
     grid-row: 4/5;
     font-size: 16px;
 }
 .footer{
     text-align: center;
     grid-column: 1/4;
     grid-row: 6/7;
     font-size: 16px;
     margin-bottom: 10px;
 }
 .main .pic img{
     height: 110px;
     width: 100px;
     border-radius: 50%;
     margin-top: 5px;
     padding-top: 10px;
     margin-left: 10px;
 }
 .avl #img img{
     height: 15px;
     width: 15px;
 }
 .avl #img{
     background-color: rgb(108, 233, 30);
     padding: 3px;
     width: 25%;
     padding-left: 10px;
     border-radius: 10px;
     font-style: italic;
 }
 #info{
     height: 100%;
     width: 100%;
     margin: auto;
     text-align: center;
     font-size: 20px;
 }
 #glance{
     margin-left: 25px;
     margin-top: 10px;
 }
 #glance th,td{
     padding-left: 15px;
 }
 #glance th{
     margin-bottom: 5px;
     padding-left: 100px;
 }
 .title{
     font-weight: bold;
 }
 .divhead{
     text-align: center;
     font-weight: bold;
     font-size: 20px;
     padding: 10px;
     text-decoration: underline;
     font-style: italic;
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(117, 170, 216);
     border-radius: 5px;
     margin-top: 5px;
 }
 #D-info{
     text-align: justify;
     font-weight: normal;
 }
 #glance{
     text-align: justify;
     padding-top: 5px;
 }
 .value{
     font-weight: normal;
 }
 #exp{
     text-align: left;
     font-weight: bold;
     font-style: italic;
     font-size: 18px;
     
 }
 .key{
     font-weight: bold;
 }
 .review{
     text-align: center;
     text-align: justify;
 }
 .rname{
     text-align: left;
 }
 .rvalue{
     text-align: left;
 }
 .urating{
     text-align: right;
 }
 .star{
     text-align: right;
     color: rgb(132, 124, 5);
     font-size: 40px;
 }
 .inexre{
     padding-left: 30px;
     padding-right: 30px;
 }
 .d_div{
     box-shadow: 7px 7px 8px rgb(73, 81, 73);
     border-radius: 10px;
 
 }
 .r1_div{
     border: 1px solid ;
     border-radius: 6px;
     background-color: rgb(207, 207, 233);
     margin-left: 1px;
     margin-right: 1px;
 }
 .r_div{
     border: 1px solid ;
     border-radius: 6px;
     background-color: rgb(207, 207, 233);
 }