.doctor-list{
    width: 80%;
    margin: auto;
}

.category{
    height: 300px;
    background-color: rgb(22, 158, 221);
}

.category:hover{
    background-color: rgb(15, 131, 209);
    cursor: pointer;
}


